{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}
{% block body %}
    <img src="{{ album.album_logo }}">

    <h1>{{ album.album_title }}</h1>
    <h1>{{ album.artist }}</h1>

    <ul>
        {% for song in album.song_set.all %}
            {% if song.is_favourite %}
                <img src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/star-circle-128.png">
            {% endif %}
            <li>{{ song.song_title }}-{{ song.audio_file }}</li><br>
        {% endfor %}
    </ul>
{% endblock %}
